<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img"> <img src="../assets/images/users/profile.png" alt="user" />
                <!-- this is blinking heartbit-->
                <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
            </div>
            <!-- User profile text-->
            <div class="profile-text">
                <h5>{{ app.user.username }}</h5>
                <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-settings"></i></a>
                <a href="app-email.html" class="" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                <a href="pages-login.html" class="" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
                <div class="dropdown-menu animated flipInY">
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-user"></i> Mon profil</a>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-email"></i> Boîte de réception</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-settings"></i> Paramètre de compte</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a href="{{ path('fos_user_security_logout') }}" class="dropdown-item"><i class="fa fa-power-off"></i> Se déconnecter</a>
                    <!-- text-->
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONNELS</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="{{ path('homepage') }}" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Tableau de bord <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
				<i class="mdi mdi-bullseye"></i><span class="hide-menu">Répertoire</span>
				</a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{{ path('repertoire_index') }}">Liste répertoire</a></li>
                        <li><a href="{{ path('categorie_index') }}">Catégorie</a></li>
                        <li><a href="{{ path('domaineintervention_index') }}">Domaine d'intervention</a></li>
                        <li><a href="{{ path('secteuractivite_index') }}">Secteur d'intervention</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-email"></i><span class="hide-menu">Projets</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{{ path('porteurprojet_index') }}">Porteurs de projets</a></li>
                        <li><a href="{{ path('projet_index') }}">Projet</a></li>
                        <li><a href="{{ path('projet_new') }}">Nouveau projet</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('recrutement_index') }}"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Recrutements <span class="label label-rouded label-danger pull-right">25</span></span></a>
                </li>
                <li class="nav-small-cap">ADMINISTRATION</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">Gestion des utilisateurs</span></a>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Configuration</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->